<div class="container">

<form>
<input type="text" name='go' class="form">
</form>
<table class="racer_table">
<tr id="player1_strip">
    <td><div id="player1"><%= @player1.name %></div></td>
    <td class="1"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="2"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="3"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="4"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="5"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="6"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="7"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="8"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
  </tr></div>
  <tr id="player2_strip">
    <td><div id="player2"><%= @player2.name %></td>
    <td class="1"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="2"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="3"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="4"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="5"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="6"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="7"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>
    <td class="8"><img src='http://rlv.zcache.com/black_square_formal_party_or_event_invitation-r2010155778ca4a669b3772131bad7f23_8dnmw_8byvr_50.jpg'></td>

  </tr>
</table>
</div>
