<link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
<h1> RACE DAY!</h1>
<div class="signup">
<form name="signup" method="POST" action="/">
  <input type="text" name="player1" placeholder="Player 1"><br>
  <input type="text" name="player2" placeholder="Player 2"><br>
  <input type='submit' value='Start Your Engines!!!'  class="start">
</form> 
</div>
